*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#050505;
color:#fff;
overflow-x:hidden;
}

header{
position:fixed;
top:0;
left:0;
width:100%;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.7);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo{
font-size:30px;
font-weight:900;
color:#ff2b2b;
letter-spacing:2px;
}

nav a{
color:#fff;
text-decoration:none;
margin-left:25px;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#ff2b2b;
}

.hero{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
gap:80px;
padding:120px 8%;
flex-wrap:wrap;
}

.left{
max-width:550px;
}

.left h3{
font-size:22px;
color:#bbb;
}

.left h1{
font-size:75px;
color:#ff2b2b;
margin:10px 0;
}

.left h2{
font-size:34px;
margin-bottom:20px;
}

.left p{
line-height:30px;
color:#cfcfcf;
}

.btn{
display:inline-block;
margin-top:35px;
padding:15px 35px;
background:#ff2b2b;
color:#fff;
text-decoration:none;
border-radius:50px;
font-weight:600;
transition:.3s;
}

.btn:hover{
transform:translateY(-5px);
box-shadow:0 0 25px #ff2b2b;
}

.right img{
width:350px;
height:350px;
object-fit:cover;
border-radius:50%;
border:5px solid #ff2b2b;
box-shadow:0 0 40px #ff2b2b;
}

@media(max-width:768px){

header{
flex-direction:column;
padding:15px;
}

nav{
margin-top:10px;
}

nav a{
margin:0 10px;
}

.hero{
text-align:center;
gap:40px;
}

.left h1{
font-size:55px;
}
text-shadow:0 0 25px red;

.left h2{
font-size:26px;
}

.right img{
width:260px;
height:260px;
}

}.title{
text-align:center;
font-size:40px;
color:#ff2b2b;
margin-bottom:20px;
}

#about,#skills,#contact{
padding:80px 8%;
text-align:center;
}

.about-text{
max-width:700px;
margin:auto;
line-height:32px;
color:#ddd;
font-size:18px;
}

.skills{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-top:40px;
}

.skill{
background:#111;
padding:25px;
border-radius:15px;
transition:.3s;
}

.skill:hover{
transform:translateY(-8px);
box-shadow:0 0 20px red;
}.portfolio{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
margin-top:40px;
}

.card{
background:#111;
border-radius:20px;
overflow:hidden;
transition:.4s;
}

.card img{
width:100%;
height:220px;
object-fit:cover;
}

.card h3{
padding:20px;
text-align:center;
}

.card:hover{
transform:translateY(-12px) scale(1.03);
box-shadow:0 0 35px red;

}.social-buttons{
display:flex;
justify-content:center;
gap:20px;
margin-top:35px;
flex-wrap:wrap;
}

.social-buttons a{
text-decoration:none;
padding:15px 30px;
border-radius:50px;
background:#ff2b2b;
color:white;
font-weight:bold;
transition:.3s;
}

.social-buttons a:hover{
transform:scale(1.08);
box-shadow:0 0 25px red;
}body::before{
content:"";
position:fixed;
top:-200px;
left:-200px;
width:500px;
height:500px;
background:red;
filter:blur(180px);
opacity:.18;
z-index:-1;
animation:moveGlow 10s infinite alternate;
}

@keyframes moveGlow{

0%{
transform:translate(0,0);
}

100%{
transform:translate(250px,200px);
}

}.stats{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
padding:60px 20px;
}

.stat-box{
background:#111;
padding:30px;
border-radius:20px;
text-align:center;
border:1px solid rgba(255,0,0,.3);
transition:.4s;
}

.stat-box:hover{
transform:translateY(-10px);
box-shadow:0 0 30px red;
}

.stat-box h2{
color:#ff2d2d;
font-size:38px;
margin-bottom:10px;
}

.stat-box p{
color:#fff;
font-size:18px;
}.testimonials{
padding:80px 20px;
text-align:center;
}

.testimonial-card{
background:#111;
padding:25px;
margin:20px auto;
border-radius:20px;
max-width:700px;
border:1px solid rgba(255,0,0,.3);
transition:.4s;
}

.testimonial-card:hover{
transform:translateY(-8px);
box-shadow:0 0 30px red;
}

.testimonial-card p{
font-size:18px;
color:#ddd;
}

.testimonial-card h4{
margin-top:15px;
color:#ff2d2d;
}.contact{
padding:80px 20px;
text-align:center;
}

.contact form{
display:flex;
flex-direction:column;
gap:15px;
max-width:600px;
margin:auto;
}

.contact input,
.contact textarea{
padding:15px;
background:#111;
color:#fff;
border:1px solid #333;
border-radius:10px;
}

.contact textarea{
height:150px;
resize:none;
}

.contact button{
padding:15px;
background:red;
color:#fff;
border:none;
border-radius:10px;
font-size:18px;
cursor:pointer;
transition:.3s;
}

.contact button:hover{
transform:scale(1.05);
box-shadow:0 0 20px red;
}footer{
padding:50px 20px;
background:#0a0a0a;
text-align:center;
}

footer h2{
color:red;
margin-bottom:10px;
}

footer p{
color:#aaa;
}

.social{
margin:20px 0;
}

.social a{
margin:0 10px;
color:white;
text-decoration:none;
transition:.3s;
}

.social a:hover{
color:red;
}.resume-btn{
display:inline-block;
margin-top:15px;
background:#222;
border:2px solid red;
color:#fff;
}

.resume-btn:hover{
background:red;
}.whatsapp{
position:fixed;
bottom:20px;
right:20px;
width:60px;
height:60px;
background:#25D366;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:30px;
text-decoration:none;
box-shadow:0 0 20px #25D366;
z-index:999;
}#topBtn{
position:fixed;
bottom:95px;
right:20px;
display:none;
width:50px;
height:50px;
border:none;
border-radius:50%;
background:red;
color:white;
font-size:22px;
cursor:pointer;
}html{
scroll-behavior:smooth;
}.logo{
animation:glow 2s infinite alternate;
}

@keyframes glow{
from{
text-shadow:0 0 10px red;
}
to{
text-shadow:0 0 30px red;
}
}